<!doctype html>
<html>
<head>
	<title>Login</title>
</head>
<body>
<form action = http://localhost:8099/login method="POST">
	<h2>Login</h2>
	UserID: <input type="text" name="userid"><br>
	Password: <input type="password" name="password"><br>
	<input type="submit" value="Login">
</form>
</body>
</html>

