<!doctype html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
<form action = http://marspj.mybluemix.net/signup method="POST">
	<h2>Sign Up</h2>
	UserID: <input type="text" name="userid"><br>
	Password: <input type="password" name="password"><br>
	<input type="submit" value="Sign Up">

</form>
<a href="/login">Login</a>
</body>
</html>

